<!-- The following HTML code is for the "Booking Made" page, displayed after a successful flight booking -->
<html>
<head>
<title>Booking Made</title>
<link rel="stylesheet" type="text/css" href="static/css.css">  <!-- Link to an external CSS stylesheet -->
<style>
body{
    background-image: url("/static/booking\ made.avif");  /* Background image for the page */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 970px;
}
</style>
</head>
<body>

<img class="dom_logo" src="/static/logo-no-background.png">  <!-- Displaying the website logo -->
<br>
<div class="header">            
  <div class="nav">
    <a style="font-size: 30px;" href="/">Home</a>  <!-- Navigation links to other pages -->
    <a style="font-size: 30px;" href="/contact">Contact Us</a>
    <a style="font-size: 30px;" href="/about">About Us</a>
    <a style="font-size: 30px;" href="/reviews">Reviews</a>
    <a style="font-size: 30px;" href="">Settings</a>
    <a style="font-size: 30px;" href="/signin">Sign In</a>
  </div>
</div>

<!-- content varies for each page from here -->
<div id="contentOne"></div>
<div id="contentTwo" class="center-menu">
<br><br>
  <table class="dom_content_area" border="2" style="opacity: 0.8; background-color: beige;">
    <tr>
      <td style="padding: 20px; font-size: 20px; text-align: justify">
        <p style="text-align: center; font-size: x-large; padding-top: 10px;">Congratulations on Your Successful Flight Booking!</p><br>
          <!-- A message congratulating the user on their successful flight booking -->
          We are thrilled to extend our warmest congratulations to you for successfully booking your flight through our website! Your exciting journey is now set to take flight, and we couldn't be happier to be a part of this special moment with you.<br><br>
              
          Your trust in our platform and your seamless booking experience truly means the world to us. We understand that planning a trip can be both exciting and, at times, a bit stressful, but your decision to choose us has made us even more determined to provide you with top-notch service and support throughout your travel adventure.<br><br>

          Your flight booking is not just a transaction for us; it represents the start of a memorable adventure that we hope will be filled with joy, discovery, and cherished moments. We are here to support you every step of the way, from now until you touch down at your destination.<br><br>
              
          We can't wait to hear about your journey and the exciting experiences you'll have. If you ever need any assistance or have questions about your upcoming trip, please don't hesitate to get in touch with our team. We're always here to help.<br><br>
              
          Once again, congratulations on your successful flight booking, and we look forward to being a part of your travel story. Bon voyage!<br><br>
              
          Warm regards,<br>
          Tripadvisor
              
      </td>
    </tr>
  </table>

</div>

</body>
</html>