<!-- The following HTML code is for the "Contact Us" page of a website -->
<html>
<head>
<title>Contact Us</title>
<link rel="stylesheet" type="text/css" href="static/css.css">  <!-- Link to an external CSS stylesheet -->
<style>
body{
    background-image: url("/static/contact\ us.jpg");  /* Background image for the page */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 970px;
}
</style>
</head>
<body>

<img class="dom_logo" src="/static/logo-no-background.png">  <!-- Displaying the website logo -->
<br>
<div class="header">            
  <div class="nav">
    <a style="font-size: 30px;" href="/">Home</a>  <!-- Navigation links to other pages -->
    <a style="font-size: 30px;" class="active" href="/contact">Contact Us</a>  <!-- Current page is highlighted as "active" -->
    <a style="font-size: 30px;" href="/about">About Us</a>
    <a style="font-size: 30px;" href="/reviews">Reviews</a>
    <a style="font-size: 30px;" href="">Settings</a>
    <a style="font-size: 30px;" href="/signin">Sign In</a>
  </div>
</div>

<!-- content varies for each page from here -->
<div id="contentOne"></div>
<div id="contentTwo" class="center-menu">
<br><br>
<table class="dom_content_area" border="2" style="opacity: 0.8; background-color: beige; width: 75%;">
  <tr>
    <td style="padding: 20px; font-size: 22px;">
      <p style="font-size: xx-large;">General Contact Information</p>
      <!-- Providing general contact information for the company -->
      <p>Mailing address: Tripadvisor Inc., 400 1st Avenue, Needham, MA, USA 02494<br>
        General company phone number: +1 781 800 5000</p>
      <hr>
      <p style="font-size: 26px;">Are you a traveler in need of help?  Have a question about your review? Problems booking your hotel, flight or attraction/activity?  Trouble with a restaurant reservation?</p>
      <!-- Providing support and help information for travelers -->
      <p>We want to help!  Did you know that nearly every customer service questions can be answered by visiting our easy-to-use <a href="https://www.tripadvisorsupport.com/hc/en-us">Help Center</a>?<br>
        Still need support?  Visit our <a href="https://www.tripadvisor.com/GeneralSupport">general inquiries</a> page and someone from Tripadvisor’s customer support team will respond as soon as possible!</p>
      <hr>
      <p style="font-size: 26px;">Data Erasure Requests</p>
      <!-- Information about data erasure requests and user rights -->
      <p>Respecting the data protection rights of our users is of utmost importance to Tripadvisor. In accordance with applicable law, you may have the right of access, the right of rectification, the right to objection/erasure, the right to restrict processing and the right to data portability. In order to exercise your rights, please file your request by <a href="https://app.onetrust.com/app/#/webform/10fccd6f-b384-42e8-a3e6-c8676705fbb3">clicking here</a>.</p>
      <hr>
      <p style="font-size: 26px;">Travel Professionals</p>
      <!-- Contact information for sales inquiries and travel professionals -->
      <p>Sales inquiries: <br>
        - For sales questions around advertising or display sales, please <a href="https://www.tripadvisor.com/advertising">contact us here</a>.<br>
        - For sales questions around a hotel or restaurant business you own, please <a href="https://www.tripadvisor.com/Owners">contact us here</a>.</p>
      <hr>
      <p style="font-size: 26px;">Owners of a Hotel, Airline, Restaurant or Attraction Listing?</p>
      <!-- Information and links for owners of various listings -->
      <p><b>Get listed:</b> Owners of hotels, airline, restaurants, attractions, and travel resources interested in a FREE listing on Tripadvisor, please read general information or submit a listing under <a href="https://www.tripadvisor.com/GetListedNew">"Get listed on Tripadvisor."</a><br><br>
         <b>Listing problems or questions: </b> If you are having difficulty or having further questions regarding listings or reviews, <a href="https://www.tripadvisor.com/OwnerSupport">click here</a> for support. <br><br>
         <b>Respond to a review: </b> If you represent a hotel, airline, restaurant or attraction listed on Tripadvisor and want to respond to individual reviews submitted regarding your establishment, please use our <a href="https://www.tripadvisorsupport.com/hc/en-us/articles/200614387">online management response form</a>. <br><br>      
      </p>
      <hr>
      <p style="font-size: 26px;">Press Contacts</p>
      <!-- Contact information for press inquiries -->
      <p>For data erasure requests, <a href="https://app.onetrust.com/app/#/webform/10fccd6f-b384-42e8-a3e6-c8676705fbb3">click here</a>. For members of the media or industry analysts seeking additional information about Tripadvisor, or to schedule an interview with a member of our management team, please contact:<br><br>
        - North America: northamericapr@tripadvisor.com <br>
        - Europe, Middle East and Africa: emeapressoffice@tripadvisor.com <br>
        - Asia Pacific: apacpr@tripadvisor.com <br><br>
      </p>
    
    </td>
  </tr>
</table>
<br><br>
</div>

</body>
</html>