<!-- The following HTML code is for the "Reviews Thankyou" page of a website -->
<html>
<head>
<title>Reviews Submission</title>
<link rel="stylesheet" type="text/css" href="static/css.css">  <!-- Link to an external CSS stylesheet -->
<style>
/* Styling for the body background */
body{
    background-image: url("/static/reviews.jpg");  /* Background image for the page */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 970px;
}
</style>
</head>
<body>
 
<!-- Header Section -->
<img class="dom_logo" src="/static/logo-no-background.png">  <!-- Displaying the website logo -->
<br>
<div class="header">            
  <div class="nav">
    <a style="font-size: 30px;" href="/">Home</a>  <!-- Navigation links to other pages -->
    <a style="font-size: 30px;" href="/contact">Contact Us</a>
    <a style="font-size: 30px;" href="/about">About Us</a>
    <a style="font-size: 30px;" href="/reviews">Reviews</a>  
    <a style="font-size: 30px;" href="">Settings</a>
    <a style="font-size: 30px;" href="/signin">Sign In</a>
  </div>
</div>
 
<!-- content varies for each page from here -->
<div id="contentOne"></div>
<div id="contentTwo" class="center-menu">
<br><br>
 
<table width="100%" border="2" style="opacity: 0.9; background-color: beige;">
  <tr>
    <td style="padding: 20px; font-size: 20px;">
    Thank you for submitting your review!
    </td>
  </tr>
</table>
</div>
 
</body>
</html>