<!-- The following HTML code is for the "Search Results" page of a website -->
<html>
<head>
<title>Search Results</title>
<link rel="stylesheet" type="text/css" href="static/css.css">  <!-- Link to an external CSS stylesheet -->
<style>
body{
    background-image: url("/static/Background.jpg");  /* Background image for the page */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 970px;
}
</style>
</head>
<body>

<img class="dom_logo" src="/static/logo-no-background.png">  <!-- Displaying the website logo -->
<br>
<div class="header">            
  <div class="nav">
    <a style="font-size: 30px;" href="/">Home</a>  <!-- Navigation links to other pages -->
    <a style="font-size: 30px;" href="/contact">Contact Us</a>
    <a style="font-size: 30px;" href="/about">About Us</a>
    <a style="font-size: 30px;" href="/reviews">Reviews</a>
    <a style="font-size: 30px;" href="">Settings</a>
    <a style="font-size: 30px;" href="/signin">Sign In</a>
  </div>
</div>

<!-- content varies for each page from here -->
<div id="contentOne"></div>
<div id="contentTwo">
<br><br>
<form action="/usermustlogin" method="post">
  <table border="2" class="dom_table_design" style="background-color: beige; opacity: 0.9; width: auto;">
  <tr>
    <td>
      <!-- Displaying flight information -->
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/AirAsiaX.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $999</b></center></td>
          <td class="dom_one"><center><button style="padding: 5px 15px; cursor: pointer; border: 1 solid; border-radius: 5px;">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 15:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 20 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 5:00 hrs</center></td>
        </tr>
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 50-60kg</center></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/BritishAirways.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1298</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 13:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 20 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 9:00 hrs</center></td>
        </tr> 
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 23kg</center></td>
        </tr>
      </table>
    </td>
  </tr>               
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/SingaporeAirlines2.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1025</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 8:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 21 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 5:00 hrs</center></td>
        </tr>  
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 32kg</center></td>
        </tr>           
      </table>
    </td>
  </tr>
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/AirNewZealand.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1186</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 15:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 5 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 20:00 hrs</center></td>
        </tr>   
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 23kg</center></td>
        </tr>          
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/Turkish-Airlines.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1005</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 15:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 14 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 5:00 hrs</center></td>
        </tr>     
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 23-32kg</center></td>
        </tr>        
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/EtihadAirways.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1499</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 00:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 12 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 12:00 hrs</center></td>
        </tr>   
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 23-32kg</center></td>
        </tr>                  
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/JetstarAU.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $965</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 5:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 10 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 15:00 hrs</center></td>
        </tr>  
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 15-40kg</center></td>
        </tr>               
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/Ana2.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $923</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 15:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 3 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 18:00 hrs</center></td>
        </tr>           
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 32kg</center></td>
        </tr>    
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/ChinaEasternAirlines.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $801</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 2:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 14 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 16:00 hrs</center></td>
        </tr>   
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 20-40kg</center></td>
        </tr>               
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/FijiAirways.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $999</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 15:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 7 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 22:00 hrs</center></td>
        </tr>          
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 14kg</center></td>
        </tr>    
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/Emirates2.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1469</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 15:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 20 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 11:00 hrs</center></td>
        </tr> 
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 20-50kg</center></td>
        </tr>              
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/Qantas-1.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1145</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 11:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 17 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 4:00 hrs</center></td>
        </tr>          
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 32kg</center></td>
        </tr>     
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/SrilankanAirlines.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1387</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 8:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 9 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 17:00 hrs</center></td>
        </tr>   
        <tr>
          <td colspan="3" class="dom_one>" style="padding: 15px;"><center><b>Baggage Limit : </b> 30-40kg</center></td>
        </tr>            
      </table>
    </td>
  </tr> 
  <tr>
    <td style="border: none;"><br><br></td>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tr>
          <td class="dom_one"><img src="/static/MalaysiaAirlines.png" style="border-radius: 10px;"></td>
          <td class="dom_one"><center><b>NZD $1056</b></center></td>
          <td class="dom_one"><center><button class="dom_button">Select</button></center></td>
        </tr>
        <tr>
          <td class="dom_one"><center><b>Departure Time</b><br><br> 6:00 hrs</center></td>
          <td class="dom_one"><center><b>Flight Time</b> <br><br> 19 hrs </center></td>
          <td class="dom_one"><center><b>Arrival Time</b><br><br> 1:00 hrs</center></td>
        </tr>         
        <tr>
          <td colspan="3" class="dom_one" style="padding: 15px;"><center><b>Baggage Limit : </b> 23-32kg</center></td>
        </tr>      
      </table>
    </td>
  </tr> 
</table><br><br>
</form>
</div>

</body>
</html>
